/* General */
body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.navbar .navbar-nav {
    user-select: none;
    display: inline-block;
    float: none;
    vertical-align: top;
    text-transform: uppercase;
    font-family: 'Candara';
}
.navbar .navbar-collapse {
    text-align: right;
}
.navbar .navbar-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    color: #2b669a;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* Utility */
.vertical-line {
    border-left: thick solid #337AB7;
}

/* Project page */
.project {
    text-align: center;	
}

/* Contact page */
.contact {
    font-size: 18px;
    font-family: 'Candara';
    margin: 10px;
}

/* Music page */
.song-title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 36px;
}
audio {
    width: 100%;
}
.download-header {
    text-align: center;
    font-family: 'Palatino';
    margin-bottom: 48px;
}
.download-content {
    margin-left: 20%;
    margin-right: 20%;
}