body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar {
    font-family: 'Candara';
    text-transform: uppercase;
}
.jumbotron {
    background-image: url("../bg.png");
    font-family: 'Candara';
    text-align: center;
}
.jumbotron .container .h1 {
    color: #FFFFFF;
    font-size: 48px;
}
.jumbotron .container .h2 {
    color: #CCCCFF;
    font-size: 20px;
}
.project {
    text-align: center;	
}
.contact {
    font-size: 18px;
    font-family: 'Candara';
    margin: 10px;
}
.song-title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 36px;
}
audio {
    width: 100%;
}
.vertical-line {
    border-left: thick solid #000000;
}
.download-header {
    text-align: center;
    font-family: 'Palatino';
    margin-bottom: 48px;
}
.download-content {
    margin-left: 20%;
    margin-right: 20%;
}