<div class="vertical-line">
    <div class="well well-lg">
        <h1 class="download-header">Coming soon</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="list-group">
                    <button type="button" class="list-group-item">All Releases<span class="badge">2</span></button>
                    <button type="button" class="list-group-item">2016<span class="badge">1</span></button>
                    <button type="button" class="list-group-item">2015<span class="badge">1</span></button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="download-content">
                    <a href="../media/mp3/break.mp3" download><span class="glyphicon glyphicon-download" aria-hidden="true"></span>break</a>
                    <a href="../media/mp3/flower peddler.mp3" download><span class="glyphicon glyphicon-download" aria-hidden="true"></span>the flower peddler</a>
                </div>
            </div>
        </div>
    </div>
</div>