<div class="vertical-line">
    <div class="well well-lg">
        <h1 class="download-header">Coming soon</h1>
            <div class="list-group">
                <button type="button" class="list-group-item">All Releases<span class="badge">2</span></button>
                <a href="../media/mp3/break.mp3" download><button type="button" class="list-group-item"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>&nbsp;Break</button></a>
                <a href="../media/mp3/flower peddler.mp3" download><button type="button" class="list-group-item"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>&nbsp;The Flower Peddler</button></a>
            </div>
        </div>
    </div>
</div>