<div class="vertical-line">
    <div class="well well-lg">
        <h1 class="download-header">Coming soon</h1>
        <div class="list-group">
            <button type="button" class="list-group-item">
            	All Releases
            	<span class="badge">2</span>
            </button>
            <button type="button" class="list-group-item">
            	2016
            	<span class="badge">1</span>
            </button>
            <button type="button" class="list-group-item">
            	2015
            	<span class="badge">1</span>
            </button>
        </div>
    </div>
</div>