<div class="vertical-line">
    <div class="well well-sm" style="background-image: url('../media/img/flower-peddler-img.jpg'); background-size: cover">
        <h2 class="song-title">the flower peddler</h2>
        <audio src="../media/mp3/flower peddler.mp3" controls>Audio not supported by browser.</audio>
    </div>
    <div class="well well-sm" style="background-image: url('../media/img/break-img.jpg'); background-size: cover">
        <h2 class="song-title">break</h2>
        <audio src="../media/mp3/break.mp3" controls>Audio not supported by browser.</audio>
    </div>
</div>